<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>553446471400-g8o7o4jpvkvjsti11tcdle012duki981.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553446471400-g8o7o4jpvkvjsti11tcdle012duki981</string>
	<key>API_KEY</key>
	<string>AIzaSyDmb0DRa-wg2WuuQlY7SEveVtIYU-JwTHE</string>
	<key>GCM_SENDER_ID</key>
	<string>553446471400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.highwayns.wohapp</string>
	<key>PROJECT_ID</key>
	<string>wohapp-3a179</string>
	<key>STORAGE_BUCKET</key>
	<string>wohapp-3a179.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553446471400:ios:e2f7002bb8cad63d</string>
	<key>DATABASE_URL</key>
	<string>https://wohapp-3a179.firebaseio.com</string>
</dict>
</plist>