// Returns true if the uploaded file is an image and its size is below the given number of MB.
function isImageBelowMaxSize(maxSizeMB) {
  return request.resource.size < maxSizeMB * 1024 * 1024
      && request.resource.contentType.matches('image/.*');
}

service firebase.storage {
  match /b/{bucket}/o {
    match /{userId}/{messageId}/{fileName} {
      allow write: if request.auth != null && request.auth.uid == userId && isImageBelowMaxSize(5);
      allow read;
    }
    match /users/{uid} {
      allow read, write: if uid == request.auth.uid;
    }
    match /jobs/{uid} {
      allow read, write: if uid == request.auth.uid;
    }
    match /companys/{uid} {
      allow read, write: if uid == request.auth.uid;
    }
    match /projects/{uid} {
      allow read, write: if uid == request.auth.uid;
    }
    match /talents/{uid} {
      allow read, write: if uid == request.auth.uid;
    }
    match /consultants/{uid} {
      allow read, write: if uid == request.auth.uid;
    }
    match /dispatchers/{uid} {
      allow read, write: if uid == request.auth.uid;
    }
    match /knowledges/{uid} {
      allow read, write: if uid == request.auth.uid;
    }
    match /tools/{uid} {
      allow read, write: if uid == request.auth.uid;
    }
    match /events/{uid} {
      allow read, write: if uid == request.auth.uid;
    }
  }
}

